 <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ report.title }}</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                line-height: 1.6;
                margin: 0;
                padding: 0;
            }
            .container {
                max-width: 800px;
                margin: 20px auto;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                background-color: #f9f9f9;
            }
            header {
                text-align: center;
                margin-bottom: 20px;
            }
            h1, h2, h3 {
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 15px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 20px;
            }
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
            }
            th {
                background-color: #f2f2f2;
            }
            footer {
                text-align: center;
                margin-top: 20px;
                color: #888;
            }
            img {
                max-width: 100%;
                height: auto;
                width: auto; /* ie8 */
            }
        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>{{ report.title|e }}</h1>
                <p>Time: {{ report.time_stamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                <p>Version: {{ report.auroris_version }}</p>
            </header>
            <!-- Sections -->
            {% for section in report.sections %}
                <h2>{{ section.title|e }}</h2>

                <!-- Logs -->
                {% if section.logs|count > 0 %}
                <h3>Logs</h3>
                <ul>
                {% for log in section.logs %}
                    <li>{{ log|e }}</li>
                {% endfor %}
                </ul>
                {% endif %}

                <!-- Images -->
                {% if section.images|count > 0 %}
                <h3>Images</h3>
                {% for img in section.images %}
                    {% if img.title %}
                    <h4>{{img.title}}</h4>
                    {% endif %}
                    <img src="{{img.image}}"/>
                    {% if img.description %}
                    <h4>{{img.description}}</h4>
                    {% endif %}
                {% endfor %}
                {% endif %}

            {% endfor %}
            <footer>
                <p>Generated by Auroris Data Curation</p>
            </footer>
        </div>
    </body>
</html>